<a href="https://colab.research.google.com/github/goliharini19/DATA-MINING/blob/main/Lab07_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = {
    'Employee': ['John', 'Sarah', 'Mike', 'Emma', 'Tom'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [60000, 50000, 75000, 65000, 48000],
    'Experience (Years)': [5, 3, 7, 4, 2],
    'Performance Rating (Out of 5)': [4.5, 3.8, 4.9, 4.2, 3.5]
}

In [2]:
df = pd.DataFrame(data)
print(df)

  Employee Department  Salary  Experience (Years)  \
0     John         IT   60000                   5
1    Sarah         HR   50000                   3
2     Mike         IT   75000                   7
3     Emma    Finance   65000                   4
4      Tom         HR   48000                   2

   Performance Rating (Out of 5)
0                            4.5
1                            3.8
2                            4.9
3                            4.2
4                            3.5

In [3]:
avg_salary_per_dept = df.groupby('Department')['Salary'].mean()
print(avg_salary_per_dept)

Department
Finance    65000.0
HR         49000.0
IT         67500.0
Name: Salary, dtype: float64

In [4]:
filtered_df = df[df['Performance Rating (Out of 5)'] > 4.0]
print(filtered_df)

  Employee Department  Salary  Experience (Years)  \
0     John         IT   60000                   5
2     Mike         IT   75000                   7
3     Emma    Finance   65000                   4

   Performance Rating (Out of 5)
0                            4.5
2                            4.9
3                            4.2

In [7]:
df["Increment"] = 1000
df["New Salary"] = df["Salary"] + df["Increment"]

In [8]:
df_sorted = df.sort_values(by="New Salary", ascending=False)
print("\nEmployees sorted by new salary:\n", df_sorted)

Employees sorted by new salary:
   Employee Department  Salary  Experience (Years)  \
2     Mike         IT   75000                   7
3     Emma    Finance   65000                   4
0     John         IT   60000                   5
1    Sarah         HR   50000                   3
4      Tom         HR   48000                   2

   Performance Rating (Out of 5)  Increment  New Salary
2                            4.9       1000       76000
3                            4.2       1000       66000
0                            4.5       1000       61000
1                            3.8       1000       51000
4                            3.5       1000       49000

In [10]:
import pandas as pd
# Creating the DataFrame
data = {
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Miami"],
    "Total Cases": [100000, 85000, 65000, 70000, 55000],
    "Recovered": [75000, 70000, 50000, 60000, 45000],
    "Deaths": [5000, 3500, 2500, 2000, 1500]
}
df = pd.DataFrame(data)

In [12]:
# Calculating the recovery rate
df["Recovery Rate (%)"] = (df["Recovered"] / df["Total Cases"]) * 100
# Displaying the DataFrame
print(df)

          City  Total Cases  Recovered  Deaths  Recovery Rate (%)
0     New York       100000      75000    5000          75.000000
1  Los Angeles        85000      70000    3500          82.352941
2      Chicago        65000      50000    2500          76.923077
3      Houston        70000      60000    2000          85.714286
4        Miami        55000      45000    1500          81.818182

In [14]:
df["Death Rate (%)"] = (df["Deaths"] / df["Total Cases"]) * 100
high_death_rate_cities = df[df["Death Rate (%)"] > 5]

In [15]:
df_sorted = df.sort_values(by="Recovery Rate (%)", ascending=False)

In [16]:
total_cases = df["Total Cases"].sum()
total_deaths = df["Deaths"].sum()

In [17]:
print("DataFrame with Recovery and Death Rates:")
print(df)
print("\nCities with Death Rate > 5%:")
print(high_death_rate_cities)
print("\nCities Sorted by Highest Recovery Rate:")
print(df_sorted)
print(f"\nTotal Cases Across All Cities: {total_cases}")
print(f"Total Deaths Across All Cities: {total_deaths}")

DataFrame with Recovery and Death Rates:
          City  Total Cases  Recovered  Deaths  Recovery Rate (%)  \
0     New York       100000      75000    5000          75.000000
1  Los Angeles        85000      70000    3500          82.352941
2      Chicago        65000      50000    2500          76.923077
3      Houston        70000      60000    2000          85.714286
4        Miami        55000      45000    1500          81.818182

   Death Rate (%)
0        5.000000
1        4.117647
2        3.846154
3        2.857143
4        2.727273

Cities with Death Rate > 5%:
Empty DataFrame
Columns: [City, Total Cases, Recovered, Deaths, Recovery Rate (%), Death Rate (%)]
Index: []

Cities Sorted by Highest Recovery Rate:
          City  Total Cases  Recovered  Deaths  Recovery Rate (%)  \
3      Houston        70000      60000    2000          85.714286
1  Los Angeles        85000      70000    3500          82.352941
4        Miami        55000      45000    1500          81.818182
2      Chicago        65000      50000    2500          76.923077
0     New York       100000      75000    5000          75.000000

   Death Rate (%)
3        2.857143
1        4.117647
4        2.727273
2        3.846154
0        5.000000

Total Cases Across All Cities: 375000
Total Deaths Across All Cities: 14500